body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body .heading {
  font-weight: 600;
}

:root {
  --main-bg-color: #00688c;
}

:root {
  --no-margin: 0;
  --no-padding: 0;
}

.header-main {
  min-width: 320px;
}

.header-container {
  width: 79%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-bg-color);
  margin: 1rem 2rem 0 0.5rem;
}

.header-container .toggle-nav {
  width: 18%;
  border: none;
  cursor: pointer;
  background: white;
  color: var(--main-bg-color);
}

.header-container .toggle-nav p {
  font-size: 1rem;
  line-height: 0;
  margin: 0;
  padding: 0;
  padding-top: 0.7rem;
}

.header-container .h1-banner {
  font-family: 'Pacifico', cursive;
  font-weight: 200;
  border-bottom: 1px solid black;
}

.header-container .h1-banner a {
  text-decoration: none;
  color: var(--main-bg-color);
}

.header-container .nav-view {
  display: none;
}

.navbar-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: var(--main-bg-color);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
}

.navbar-ul-container {
  height: 50%;
  padding: var(--no-padding);
  margin: var(--no-margin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-ul-container .navbar-li {
  list-style-type: none;
  font-size: 2.5rem;
  line-height: 5rem;
}

.navbar-ul-container .navbar-li a {
  text-decoration: none;
}

.navbar-ul-container .navbar-li :visited,
.navbar-ul-container .navbar-li :hover,
.navbar-ul-container .navbar-li :active {
  color: white;
}

.show-nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.7 ease;
  transition: -webkit-transform 0.7 ease;
  transition: transform 0.7 ease;
  transition: transform 0.7 ease, -webkit-transform 0.7 ease;
}

.transparentBcg {
  visibility: visible;
}

.cover-image-container {
  min-width: 295px;
  min-height: 500px;
}

.cover-image-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../dist/images/cover-5.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../dist/images/cover-5.jpg);
  background-size: cover;
  width: 100%;
  min-height: 500px;
}

.h1-cover-overlay {
  color: white;
}

.cover-image-planning-container {
  min-height: 350px;
  min-width: 295px;
}

.cover-image-planning-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.5))), url(../dist/images/plan-image-2.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(../dist/images/plan-image-2.jpg);
  background-size: cover;
  width: 100%;
  min-height: 350px;
}

#more {
  display: none;
}

#readBtn {
  background-color: white;
  color: black;
  border: 2px solid #00688c;
  width: 150px;
  height: 35px;
  font-size: 1rem;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  font-family: 'Raleway', sans-serif;
}

#readBtn:hover {
  background-color: #00688c;
  color: white;
}

#readBtn:focus {
  outline: none;
}

.main-container {
  width: 86%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.main-container .main-para {
  line-height: 1.5rem;
  font-size: 1.3rem;
}

.screen {
  cursor: pointer;
  width: 100%;
  background-color: #000 !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.controls {
  background: #333;
  color: #fff;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0 0.5rem 0;
}

.controls .btn {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.controls .fa-play {
  color: #28a745;
}

.controls .fa-stop {
  color: #dc3545;
}

.controls .fa-pause {
  color: #fff;
}

.controls .timestamp {
  color: #fff;
  font-weight: bold;
  margin-left: 1rem;
}

.btn:focus {
  outline: 0;
}

input[type='range'] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type='range']::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type='range']::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type='range']::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type='range']::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type='range']:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type='range']::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type='range']:focus::-ms-fill-upper {
  background: #367ebd;
}

.heading {
  padding-top: 4rem;
}

.carousel {
  position: relative;
  height: 450px;
  width: 80%;
  margin: 0 auto;
}

.carousel-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  -webkit-transition: -webkit-transform 400ms ease-in;
  transition: -webkit-transform 400ms ease-in;
  transition: transform 400ms ease-in;
  transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
  border: 0;
  color: black;
  cursor: pointer;
}

.carousel-left {
  left: -40px;
}

.carousel-right {
  right: -50px;
}

.carousel-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 12px;
  cursor: pointer;
}

.current-slide {
  background: rgba(0, 0, 0, 0.75);
}

.is-hidden {
  display: none;
}

.main-weather-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #fff;
  display: block;
  border-radius: 10px;
  padding-bottom: 1rem;
  padding-top: 3rem;
}

.main-weather-container .app-title p {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 1.5em;
  color: #293251;
}

.notification {
  background-color: #f8d7da;
  display: none;
}

.notification p {
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.weather-container .weather-icon .img {
  display: block;
  margin: 0 auto;
}

.temperature-value p {
  padding: 0;
  margin: 0;
  color: #293251;
  font-size: 4em;
  text-align: center;
  cursor: pointer;
}

.temperature-value span {
  color: #293251;
  font-size: 0.5em;
}

.temperature-description p {
  padding: 8px;
  margin: 0;
  color: #293251;
  text-align: center;
  font-size: 1.5em;
}

.location p {
  margin: 0;
  padding: 0;
  color: #293251;
  text-align: center;
  font-size: 1.1em;
}

#footer-container {
  width: 100%;
  margin-top: 4rem;
  height: 10vh;
  background-color: #f0f0f0;
}

.ul-social {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-bg-color);
}

.ul-social span {
  font-size: 1.5rem;
}

.ul-social li {
  list-style-type: none;
  padding: 0;
  padding-left: 1rem;
  margin: 0;
}

@media (min-width: 568px) {
  .header-container {
    margin: 0;
    width: 66%;
  }
  .carousel {
    height: 195px;
  }
  .screen {
    width: 96%;
  }
  .controls {
    width: 96%;
  }
  #footer-container {
    height: 14vh;
  }
}

@media (min-width: 768px) {
  .header-container {
    margin: 0;
    width: 63%;
  }
  .carousel {
    height: 330px;
  }
  .screen {
    width: 100%;
  }
  .controls {
    width: 100%;
  }
  .carousel {
    height: 365px;
    width: 90%;
  }
}

@media (min-width: 1000px) {
  .header-container {
    margin: 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .toggle-nav {
    display: none;
  }
  .screen {
    width: 100%;
  }
  .controls {
    width: 100%;
  }
  .carousel {
    height: 450px;
    width: 95%;
  }
}

@media (min-width: 1280px) {
  .header-container {
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-container {
    width: 70%;
  }
  .cover-image-container {
    height: 900px;
  }
  .cover-image-overlay {
    height: 100%;
  }
  .h1-cover-overlay {
    font-size: 50px;
  }
  .toggle-nav {
    display: none;
  }
  .screen {
    width: 100%;
  }
  .controls {
    width: 100%;
  }
  .carousel {
    height: 600px;
    width: 95%;
  }
}
/*# sourceMappingURL=styles.css.map */