body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;

	.heading {
		font-weight: 600;
	}

	a {
		color: var(--main-bg-color);
	}
}

// Colors
:root {
	--main-bg-color: #00688c;
}

:root {
	--no-margin: 0;
	--no-padding: 0;
}

// End Colors

// Header
.header-main {
	z-index: 4;
	min-width: 320px;
	background-color: #ffffff;
	position: sticky;
	top: 0;
	// margin-bottom: 2rem;
}

.header-container {
	width: 79%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--main-bg-color);
	margin: 1rem 2rem 0 0.5rem;

	.toggle-nav {
		width: 18%;
		border: none;
		cursor: pointer;
		background: white;
		color: var(--main-bg-color);

		p {
			font-size: 1rem;
			line-height: 0;
			margin: 0;
			padding: 0;
			padding-top: 0.7rem;
		}
	}

	.h1-banner {
		font-family: 'Pacifico', cursive;
		font-weight: 200;
		border-bottom: 1px solid black;
		a {
			text-decoration: none;
			color: var(--main-bg-color);
		}
	}

	.header-items {
		display: inline;
	}
}

// Hidden & active classes
.nav-active {
	display: none;
}
// End Hidden & active classes

// Nav Overlay
.navbar-container {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background: var(--main-bg-color);
	transform: translateX(100%);
	transition: transform 0.7s ease;
}

.navbar-ul-container {
	height: 80%;
	padding: var(--no-padding);
	margin: var(--no-margin);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.navbar-close {
		// align-self: flex-start;
	}

	.navbar-li {
		list-style-type: none;
		font-size: 2.5rem;
		line-height: 5rem;
		a {
			text-decoration: none;
		}

		:visited,
		:hover,
		:active {
			color: white;
		}
	}
}
.show-nav {
	transform: translateX(0);
	transition: transform 0.7 ease;
}

.hide-scroll {
	overflow: hidden;
}

.transparentBcg {
	visibility: visible;
}
// End Nav Overlay
// End Header

// Main
// Home Page Overlay
.cover-image-container {
	min-width: 295px;
	min-height: 500px;
	height: 100vh;
}

.cover-image-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../dist/images/cover-5.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
	min-height: 500px;
}

.h1-cover-overlay {
	color: white;
}
// End Home Page Overlay

// Planning Page Overlay
.cover-image-planning-container {
	min-height: 350px;
	min-width: 295px;
}

.cover-image-planning-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(../dist/images/plan-image-2.jpg);
	background-size: cover;
	width: 100%;
	min-height: 350px;
}
// End Planning Page Overlay

// Packing: read more
#more {
	display: none;
}

#readBtn {
	background-color: white;
	color: black;
	border: 2px solid #00688c;
	width: 150px;
	height: 35px;
	font-size: 1rem;
	transition-duration: 0.4s;
	font-family: 'Raleway', sans-serif;
}

#readBtn:hover {
	background-color: #00688c;
	color: white;
}

#readBtn:focus {
	outline: none;
}

// End Packing: read more
.main-container {
	width: 86%;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;

	.main-heading {
		margin-bottom: 3rem;
	}

	.main-para {
		line-height: 1.5rem;
		font-size: 1.3rem;
	}
}

// End Main

// Activities
.images {
	width: 100%;
}

// End Activities

// Carousel
.carousel {
	position: relative;
	z-index: 1;
	height: 300px;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 1.5rem;
}

.carousel-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.carousel-track-container {
	// padding: 10px;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.carousel-track {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	height: 100%;
	transition: transform 400ms ease-in;
}

.carousel-slide {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.carousel-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: transparent;
	border: 0;
	color: black;
	cursor: pointer;
}

.carousel-left {
	left: -40px;
}
.carousel-right {
	right: -50px;
}

.carousel-nav {
	display: flex;
	justify-content: center;
	padding: 10px 0;
}

.carousel-indicator {
	border: 0;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background: rgba(0, 0, 0, .3);
	margin: 0 12px;
	cursor: pointer;
}

.current-slide {
	background: rgba(0, 0, 0, .75);
}

.is-hidden {
	display: none;
}

// End Carousel

// Weather

.main-weather-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #fff;
	display: block;
	border-radius: 10px;
	padding-bottom: 1rem;
	padding-top: 3rem;

	.app-title p {
		text-align: center;
		padding: 15px;
		margin: 0 auto;
		font-size: 1.5em;
		color: #293251;
	}
}

.notification {
	background-color: #f8d7da;
	display: none;
	p {
		color: #721c24;
		font-size: 1.2em;
		margin: 0;
		text-align: center;
		padding: 10px 0;
	}
}

.weather-container {
	.weather-icon {
		.img {
			display: block;
			margin: 0 auto;
		}
	}
}

.temperature-value {
	p {
		padding: 0;
		margin: 0;
		color: #293251;
		font-size: 4em;
		text-align: center;
		cursor: pointer;
	}

	span {
		color: #293251;
		font-size: 0.5em;
	}
}

.temperature-description p {
	padding: 8px;
	margin: 0;
	color: #293251;
	text-align: center;
	font-size: 1.5em;
}

.location p {
	margin: 0;
	padding: 0;
	color: #293251;
	text-align: center;
	font-size: 1.1em;
}

// End Weather

// Footer
#footer-container {
	width: 100%;
	margin-top: 4rem;
	height: 10vh;
	background-color: #f0f0f0;
}

.ul-social {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--main-bg-color);

	span {
		font-size: 1.5rem;
	}

	li {
		list-style-type: none;
		padding: 0;
		padding-left: 1rem;
		margin: 0;
	}
}

// End Footer

// Media Queries
// Landscape View Mobile Phones
@media (min-width: 568px) {
	.header-container {
		margin: 0;
		width: 66%;
	}
	.carousel {
		height: 195px;
	}

	.screen {
		width: 96%;
	}

	.controls {
		width: 96%;
	}
	#footer-container {
		height: 14vh;
	}
}
// End Landscape View Mobile Phones

// Tablet
@media (min-width: 768px) {
	.header-container {
		margin: 0;
		width: 63%;
	}
	.carousel {
		height: 330px;
	}

	.screen {
		width: 100%;
	}

	.controls {
		width: 100%;
	}
	.carousel {
		height: 365px;
		width: 90%;
	}
}

// Landscape Tablet
@media (min-width: 1000px) {
	.header-container {
		margin: 0;
		width: 100%;
		justify-content: center;
	}
	.toggle-nav {
		display: none;
	}
	.screen {
		width: 100%;
	}

	.controls {
		width: 100%;
	}

	.carousel {
		height: 450px;
		width: 95%;
	}
}

// End Tablet

// Desktop
@media (min-width: 1280px) {
	// Navbar
	.header {
		width: 100%;
	}
	.header-container {
		width: 50%;
		margin: 0 auto;
		justify-content: space-between;
		a:link,
		a:hover,
		a:active,
		a:visited {
			text-decoration: none;
			outline: 0;
			border: none;
			-moz-outline-style: none;
		}
	}
	.nav-active {
		display: block;
		font-size: 1.5rem;
	}

	// End Navbar

	.main-container {
		width: 50%;
	}

	.cover-image-overlay {
		height: 100%;
	}

	.h1-cover-overlay {
		font-size: 50px;
	}

	.toggle-nav {
		// No mobile Navbar
		display: none;
	}

	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}

	.column {
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
		flex: 1;
	}

	.carousel {
		height: 600px;
		width: 95%;
	}
}

// End Desktop
